{
    "all": "true",
    "include": ["src/**/*.js"],
    "exclude": [
        "src/**/*.spec.js",
        "src/main.js",
        "config/config.js"
    ],
    "reporter": [
        "lcovonly",
        "text-summary"
    ],
    "check-coverage": "true",
    "lines": 1,
    "statements": 0.8,
    "functions": 1,
    "branches": 0.5,
    "report-dir": "coverage"
}